@using Microsoft.AspNetCore.Identity
@model LungMed.ViewModels.RolesViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Create</h5>
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control"></>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="card-footer">
                        <div class="clearfix">
                            <a asp-action="Index" class="btn btn-primary push-left">Back to List</a>
                            <button type="submit" class="btn btn-danger">Save Role</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>