@using Microsoft.AspNetCore.Identity
@model LungMed.ViewModels.RolesViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Create Role</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input asp-for="Id" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="form-group">
                            <label asp-for="RoleName" class="control-label"></label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="d-flex justify-content-between">
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                                <button type="submit" class="btn btn-danger">Save Role</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
