USE [master]
GO
/****** Object:  Database [Lung_app]    Script Date: 02.04.2024 21:47:44 ******/
CREATE DATABASE [Lung_app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lung_app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Lung_app.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lung_app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Lung_app_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lung_app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lung_app]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 02.04.2024 21:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[ModifiedDate] [date] NULL,
	[rowguid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 02.04.2024 21:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Pesel] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Recommendations] [text] NULL,
	[ModifiedDate] [date] NULL,
	[rowguid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recordings]    Script Date: 02.04.2024 21:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recordings](
	[RecordingID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[AudioFile] [varbinary](max) NOT NULL,
	[DoctorDiagnosis] [nvarchar](50) NULL,
	[Description] [text] NULL,
	[ModelDiagnosis] [int] NULL,
	[Accuracy] [float] NULL,
	[Date] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[rowguid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Recordings] PRIMARY KEY CLUSTERED 
(
	[RecordingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Patients] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Doctors_Patients]
GO
ALTER TABLE [dbo].[Recordings]  WITH CHECK ADD  CONSTRAINT [FK_Recordings_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Recordings] CHECK CONSTRAINT [FK_Recordings_Patients]
GO
USE [master]
GO
