@using LungMed.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li> 
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
</ul>
<style>
    body {
        background-color: #f7f9fc;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1 {
        color: #343a40;
        margin-top: 20px;
    }

    .container {
        max-width: 1500px; /* Zwiększenie szerokości kontenera */
        margin: 0 auto;
        padding: 20px;
    }

    .btn-primary {
        background-color: #d6536d;
        border-color: #d6536d;
        color: white;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #d6536d;
            transform: translateY(-2px);
        }

    .card {
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #ff7f50; /* Zmiana koloru na koralowy */
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-title {
        margin: 0;
        padding: 10px;
        font-size: 1.2em;
    }

    .card-body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .table th {
            background-color: #f1f1f1;
            color: #343a40;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .btn-danger {
        background-color: #e74c3c;
        border-color: #e74c3c;
        color: white;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-danger:hover {
            background-color: #c0392b;
            transform: translateY(-2px);
        }

    .no-recordings {
        text-align: center;
        color: #6c757d;
        font-size: 1.1em;
    }
</style>