@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="text-center">
        <h4 class="display-6">Welcome to Our Clinic</h4>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="text-left">
                <h5>About Us</h5>
                <p>
                    Our clinic offers a wide range of medical services to provide our patients with comprehensive healthcare.
                    Our experienced doctors and medical staff are here to help and provide the highest quality care. 
                    We use the latest medical equipment and diagnostic tools to ensure accurate and reliable results.
                </p>
                <h5>Our Services</h5>
                <ul>
                    <li>Medical consultations</li>
                    <li>Diagnostics</li>
                    <li>Disease recognition using a professional model</li>
                    <li>Recording equipment rental</li>
                    <li>Laboratory tests</li>
                </ul>
                <h5>Contact</h5>
                <p>
                    Address: 123 Example Street, 00-001 City<br>
                    Phone: 123-456-789<br>
                    Email: contact@lungmed.com
                </p>
                <p>
                    We invite you to register online and visit our clinic. 
                </p>
                <p>
                    You can try our disease recognition model and rent recording equipment.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/Images/przychodnia.jpg" class="img-fluid my-4" alt="Photo of the clinic" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
